.page-first{
  height: 600px;
  background-image: url("/assets/images/armut_background.jpg") ;
  background-position:30% 50%;
}
.first{
  color: white;
  font-size: 75px;
  font-weight: bold;
  text-align: center;

}
.second{
  color: white;
  font-size: 20px;
  font-weight: bold;
  text-align: center;

}
.pic-one{
  width: 570px;
  height: 395px;
  margin-right: 20px;
  float: right;

}
.first-h2{
  font-weight: bold;
  font-size: 30px;
  color: #585965;
}
h2{
  font-weight: bold;
  font-size: 30px;
  color: #585965;
  font-weight: bold;
}
p{
  background: transparent;
  border: none;
  font-size: 14px;
  font-family: Arial;
  color: #585965;
}
.pic-others{
  width: 540px;
  height: 374px;
}
h3{
  margin-top: 20px;
}
.card-title{
  text-align: center;
  font-weight: bold;
  color:#2CB34F ;
  font-size: 48px;
}
.card-second-title{
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #111321;
  border: none;
}
.line{
  text-align: center;
  color: #1CA03E;
  font-size: 30px;
}
.card-text{
  text-align: center;
  font-size: 14px;
  color: #747A7D;
}

.application-link-main{
  height: 400px;
background-size:cover ;
  margin-top: 120px;
  margin-bottom: 200px;
}
.widow-fix{
  color: white;
  width: 70%  ;
  margin-bottom: 30px;
}
.application-container{
  margin-top: 10%;
  margin-left: 20%;
}
.card-hizmet-baslik{
  text-align: center;
  margin-bottom: 25px;
  color: #585965;
}
.first-title{
 padding-top: 6%;
  padding-left: 5%;
}
.kaliteli-hizmet-main{
  background-color: white;
  margin-top: 14%;
}
.metin{
  padding-top: 12%;
  padding-right: 20px;
}
.zaman-kazan{
  background-color: #F8F8F8
}
.baslik{
  padding: 15px 0 ;
}
