<div class="page-first ">
    <app-navbar></app-navbar>

  <div class="first-title">
    <p class="first">Hizmet Piş, Ağzıma Düş</p>
    <p class="second">ihityacın olan hizmete kolayca ulaş, bekleyen işlerini hallet</p>
    <app-form-search></app-form-search>
  </div>
  <div>
  </div>

<div class=" kaliteli-hizmet-main">
  <div class="container">
    <div class="row">
      <div class="col-md-5 metin">
        <h2 class="first-h2 baslik">Kaliteli Hizmet Al</h2>
        <p>Teklif aldığın hizmet verenlerin kalitesini daha önceki işlerinde aldıkları
          gerçek müşteri yorumları sayesinde görür, güvenle kararını verirsin</p>
      </div>
      <div class="col-md-7">
        <img src="/assets/images/qualty.webp" class="pic-one">
      </div>
    </div>

  </div>
</div>

    <div class="zaman-kazan" >
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <img src="/assets/images/save-time.webp" class="rounded float-start pic-others">
          </div>
          <div class="col-md-5 metin">
            <h2 class="baslik" >Zaman Kazan</h2>
            <p>Aradığın hizmet için dükkan dükkan dolaşmak ya da tanıdıklarından referans aramakla uğraşma.
              Teklifler cebine gelsin, zamanın sevdiklerinle sana kalsın.</p>
          </div>
        </div>

      </div>
    </div>

  <div class="container">
    <div class="row">
        <div class="col-md-5 metin">
          <h2 class="baslik">Garantide Ol</h2>
          <p>Gönül rahatlığıyla hizmet alman için, Armut'tan teklif seçimi yaptığın işler garantimiz altında.</p>
        </div>
        <div class="col-md-7">
          <img src="/assets/images/aggrement.webp" class="rounded float-end pic-others">
        </div>
      </div>
    </div>

  <div style="background-color: #F8F8F8">
    <div class="container" >
      <div class="row"  >
        <div class="col-md-7">
          <img src="/assets/images/choose-best-time.webp" class="rounded float-start pic-others">
        </div>
        <div class="col-md-5 metin">
          <h2 class="baslik">Kolayca Kullan</h2>
          <p>Hizmet alacağın servis için özel hazırlanmış sorularına bir dakika içinde cevap ver,
            bekleyen işlerini kolayca hallet.</p>
        </div>
      </div>
    </div>
  </div >


  <h3 style="text-align: center">Nasıl Çalışır</h3><br><br>

  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card" >
          <img class="card-img-top" src="/assets/images/howto01.webp" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">1</h4>
            <h4 class="card-second-title"> İHTİYACINI BİRKAÇ SORUDA ANLAT</h4>
            <p class="line">-</p>
            <p class="card-text">İhtiyacına özel soruları cevapla ve iletişim bilgilerini gir. İstersen iletişim bilgilerini gizli tut.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" >
          <img class="card-img-top" src="/assets/images/howto02.webp" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">2</h4>
            <h4 class="card-second-title">ÖZEL FİYAT TEKLİFLERİ AL</h4>
            <p class="line">-</p>
            <p class="card-text">İşinle ilgilenen ve müsait olan profo-esyonellere ihtiyacını bildirelim, ihtiyacına özel teklif al.</p>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card" >
          <img class="card-img-top" src="/assets/images/howto03.webp" alt="Card image">
          <div class="card-img-overlay">
            <h4 class="card-title">3</h4>
            <h4 class="card-second-title">KARŞILAŞTIR VE SEÇ</h4>
            <p class="line">-</p>
            <p class="card-text">Müşteri yorumlarını incele, pazarlık yap. En uygun fiyat ve kaliteyi tercih et.</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="background-image: url('https://cdn.armut.com/images/mobile-apps/tr:h-700/app-download-line-tr.jpg')" class="application-link-main" >
    <div class=" application-container">
      <div class="col-sm-6 download-banner-container metin">
        <h2 class="widow-fix">Telefonuna İndir</h2>
        <p class="widow-fix">Artık cebinde de hizmet pişsin, ağzına düşsün! Resmi Armut.com telefon uygulamasını indir.</p>
        <div class="icon-app">
          <a href="#" title="AppstoreTitle">
            <img src="https://cdn.armut.com/images/mobile-apps/tr:h-45/app-store-download-badge-tr.png">
          </a>
          <a href="#" >
            <img src="https://cdn.armut.com/images/mobile-apps/tr:h-45/play-store-download-badge-tr.png">
          </a>

          <a href="#">
            <img src="https://cdn.armut.com/images/mobile-apps/tr:h-45/app-gallery-download-badge-tr.png">
          </a>

        </div>
      </div>
    </div>
  </div>

  <h1 class="card-hizmet-baslik" >Haftanın Trend Hizmetleri</h1>
  <app-cards></app-cards>

  <app-hizmetler-link></app-hizmetler-link>
  <app-footer></app-footer>
</div>
