
<div class="container">
  <h3 style="text-align: center; padding-bottom: 35px; padding-top:30px ">Popüler Hizmetler</h3>
  <div class= " row row-cols-1 row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 ">
    <div class="col">
      <a class="hizmet-link-buton" href="#">Banyo Tadilat</a> <br>
      <a class="hizmet-link-buton" href="#">Boş Ev Temizliği</a> <br>
      <a class="hizmet-link-buton" href="#">Boyacı (Boya Badana Ustası)</a> <br>
      <a class="hizmet-link-buton" href="#">Cam Balkon</a> <br>
      <a class="hizmet-link-buton" href="#">Direksiyon Dersi</a> <br>
      <a class="hizmet-link-buton" href="#">Eşya Depolama</a>
      <a class="hizmet-link-buton" href="#">Parça Eşya Taşıma</a> <br>

    </div>
    <div class="col">

      <a class="hizmet-link-buton" href="#">Evden Eve Nakliyat</a> <br>
      <a class="hizmet-link-buton" href="#">Fayans Döşeme</a> <br>
      <a class="hizmet-link-buton" href="#">İç Mimar</a> <br>
      <a class="hizmet-link-buton" href="#">İlkokul Özel Ders</a> <br>
      <a class="hizmet-link-buton" href="#">Koltuk Yıkama Temizleme</a> <br>
      <a class="hizmet-link-buton" href="#">Minivan Nakliye</a><br>

    </div>
    <div class="col">
      <a class="hizmet-link-buton" href="#">Online Psikolog</a><br>
      <a class="hizmet-link-buton" href="#">Ortaokul Matematik Özel Ders</a><br>
      <a class="hizmet-link-buton" href="#">Psikolog</a><br>
      <a class="hizmet-link-buton" href="#">Şehirler Arası Nakliyat</a><br>
      <a class="hizmet-link-buton" href="#">Ev Tadilat</a> <br>
      <a class="hizmet-link-buton" href="#">Ev Temizliği</a> <br>


    </div>
    <div class="col">
      <a class="hizmet-link-buton" href="#">Profesyonel Site Bina ve Apartman Yönetimi</a><br>
      <a class="hizmet-link-buton" href="#">TYT AYT Matematik Özel Ders</a><br>
      <a class="hizmet-link-buton" href="#">Mutfak Dolabı Yapımı</a><br>
      <a class="hizmet-link-buton" href="#">Online İngilizce Özel Ders</a><br>
      <a class="hizmet-link-buton" href="#">Web Site Yapımı</a><br>
    </div>

  </div>

  <h3 style="text-align: center;  padding-bottom: 35px; padding-top:30px">En Yakın Hizmetler</h3>

  <div class="sehir-hizmet-main row ">
    <a class="col sehir-link-buton" href="#">İstanbul</a><br>
    <a class="col sehir-link-buton" href="#">Ankara</a><br>
    <a class="col sehir-link-buton" href="#">İzmir</a><br>
    <a class="col sehir-link-buton" href="#">Adana</a><br>
    <a class="col sehir-link-buton" href="#">Antalya</a><br>
    <a class="col sehir-link-buton" href="#">Bursa</a><br>
    <a class="col sehir-link-buton" href="#">Eskişehir</a><br>
    <a class="col sehir-link-buton" href="#">Kocaeli</a><br>
    <a class="col sehir-link-buton" href="#">Konya</a><br>
    <a class="col sehir-link-buton" href="#">Muğla</a><br>

    <div style="text-align: center;  margin-top: 100px;margin-bottom: 100px" class="row ">
      <h2 class="col-md-6" >Hayatını <strong>kolaylaştır</strong></h2>
      <button href="#" class=" col-md-6 teklif-button btn btn-primary">Ara</button>
    </div>
  </div>



</div>





