.hizmet-link-buton{
  color: #2cb34f;
  text-decoration: none;
}
.container{
  padding-left:2% ;
}
.sehir-link-buton{
  color: #2cb34f;
  text-decoration: none;

}
.sehir-hizmet-main{
  margin-left: 18%;
  margin-right: 18%;
}
.teklif-button{
  width: 280px;
  font-weight: bold;
  background-color: #2cb34f;
  border: none;

}
