<div class="ilk">
  <div class="row"><app-simple-navbar></app-simple-navbar></div><br><br><br><br>
  <div class="row">
    <h1 id="help">Nasıl yardımcı olabiliriz?</h1>
  </div><br><br>
  <div class="row"><app-form-search></app-form-search></div><br><br>
</div><br>
<div class="container">
  <a class="option" href="#">Hizmetim Nedir?</a><hr>
  <a class="option" href="#">
    <i class="fa-regular fa-circle-question"></i> Hangi Hizmetleri Alabilirim? </a><hr>
  <a class="option" href="#">
    <i class="fa-solid fa-credit-card"></i> Ödeme </a><hr>
  <a class="option" href="#">
    <i class="fa-solid fa-rotate-left"></i> İade </a><hr>
  <a class="option" href="#">
    <i class="fa-solid fa-shield-halved"></i> Güvenlik </a><hr>
  <a class="option" href="#">
    <i class="fa-solid fa-lock"></i> Giriş ve Şifre </a>
</div><br><br>
<div>
  <app-footer></app-footer>
</div>


