.ilk{
  background-color: #F8F8F8;
}
#help{
  color: black;
  text-align: center;
}
.btn{
  text-align: center;
}
.fa{
  color: black;
}
.option{
  color: #1CA03E;
  text-decoration: none;
  font-size: 20px;
 }

