<app-simple-navbar></app-simple-navbar>
<h2 class="pt-4 mt-5 ps-5">Temizlik İş Listesi</h2>
<div style="align-items: center" class="d-flex flex-wrap mx-5">
  <div  class=" work-list-card card  d-flex flex-wrap mx-1 my-2" *ngFor="let item of worklist; let i =index">
    <div class="card-body ">
      <div style="position:relative;" class="" >
        <table class=" table table-striped table-sm "   >
          <thead>
          <tr class="row ps-3">
            <th class="col-9" scope="col">Sorular</th>
            <th  class="col-3" scope="col">Cevaplar</th>
          </tr>
          </thead>
          <tbody >
          <tr class="row ps-3" *ngFor="let item2 of item.ruleFill.sorular; let i =index"  >
            <td class="col-9">{{item2}}</td>
            <td class="col-3">{{item.ruleFill.cevaplar[i]}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <button (click)="setWorklistId(item.id)"  type="button"  data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-secondary basvur-buton px-4">Teklif ver</button>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Teklif</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label for="bid" class="col-form-label">Teklif:</label>
            <input type="number" class="form-control" id="bid">
          </div>
          <div class="mb-3">
            <label for="message-text" class="col-form-label">Mesaj:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button (click)="sendBid()" type="button" data-bs-dismiss="modal" class="btn btn-success">Teklifi gönder</button>
      </div>
    </div>
  </div>
</div>
