<div class="container">
  <div class="row row-cols-1 row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 g-4 ">
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/02555-radyator-petek-temizligi.jpg" class="card-img-top " alt="...">
        <div class="card-body ">
          <h4>Petek Temizliği </h4>
          <p>2.209 profesyonel</p>
          <p>4,8 (13.707 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00191-ev-temizligi_thumb_875x500.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Ev Temizliği</h4>
          <p> 6.605 profesyonel</p>
          <p>4,5 (263.755 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/02115-lise-matematik-o%CC%88zel-ders.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Lise Matematik Özel Ders </h4>
          <p>2.128 profesyonel</p>
          <p>4,9 (5.205 onaylı yorum)</p>

          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00156-psikolog.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Psikolog</h4>
          <p>1.427 profesyonel</p>
          <p>4,8 (8.876 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00727-koltuk-yikama-temizleme.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Koltuk Yıkama</h4>
          <p> 6.605 profesyonel</p>
          <p>4,5 (263.755 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/03138-ilkokul-ozel-ders.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>İlkokul Özel Ders</h4>
          <p>2.128 profesyonel</p>
          <p>4, (5.205 onaylı yorum)</p>

          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" >
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/02117-ortaokul-matematik-ozel-ders.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Ortaokul Matematik Özel Ders </h4>
          <p>2.209 profesyonel</p>
          <p>4,8 (13.707 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" >
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/67330-lgs-matematik-o%CC%88zel-ders.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>LGS Matamatik Özel Ders</h4>
          <p> 6.605 profesyonel</p>
          <p>4,5 (263.755 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00064-ingilizce-ozel-ders.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>İngilizce Özel Ders </h4>
          <p>2.209 profesyonel</p>
          <p>4,8 (13.707 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" >
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/07170-ev-cam-temizligi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Cam Temizliği</h4>
          <p> 6.605 profesyonel</p>
          <p>4,5 (263.755 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card" >
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00142-evden-eve-nakliyat.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Evden Eve Nakliyat</h4>
          <p> 1.591 profesyonel</p>
          <p>4,8 (99.518 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" >
        <img src="https://cdn.armut.com/images/services/tr:w-278,h-168/00659-apartman-ve-bina-temizligi.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h4>Apartman Temizliği</h4>
          <p> 1.539 profesyonel</p>
          <p>4,4 (3.331 onaylı yorum)</p>
          <a href="/teklif" class=" teklif-button btn btn-primary">Teklif Al</a>
        </div>
      </div>
    </div>

  </div>

</div>

