<!-- Footer -->
<footer class="bg-dark text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Text -->
    <section class="mb-4">
      <p>
      </p>
    </section>
    <!-- Section: Text -->
    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">BİLGİ</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">Nasıl Çalışır?</a>
            </li>
            <li>
              <a href="yardim" class="text-white">Yardim</a>
            </li>
            <li>
              <a href="#!" class="text-white">Blog</a>
            </li>
            <li>
              <a href="#!" class="text-white">Hakkımızda</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">HİZMETLER</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="hizmet?sayfa=temizlik" class="text-white">Temizlik</a>
            </li>
            <li>
              <a href="hizmet?sayfa=tadilat" class="text-white">Tadilat</a>
            </li>
            <li>
              <a href="hizmet?sayfa=nakliyat" class="text-white">Nakliyat</a>
            </li>
            <li>
              <a href="hizmet?sayfa=tamir" class="text-white">Tamir</a>
            </li>
            <li>
              <a href="hizmet?sayfa=özel%20ders" class="text-white">Özel Ders</a>
            <li>
              <a href="hizmet?sayfa=sağlık" class="text-white">Sağlık</a>
            </li>
            <li>
              <a href="hizmet?sayfa=düğün" class="text-white">Düğün</a>
            </li>
          </ul>
        </div>
        <!--Grid column-->
        <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
          <h5 class="text-uppercase">BİZE ULAŞMAK İÇİN</h5>

          <ul class="list-unstyled mb-0">
            <li>
              <a href="#!" class="text-white">destek@hizmetim.com</a>
            </li>

            <!-- Section: Social media -->
            <section  class="mb-4 social-media">
              <!-- Facebook -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-facebook-f"></i>
              </a>

              <!-- Twitter -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-twitter"></i>
              </a>

              <!-- Google -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-google"></i>
              </a>

              <!-- Instagram -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-instagram"></i>
              </a>

              <!-- Linkedin -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-linkedin-in"></i>
              </a>

              <!-- Github -->
              <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button">
                <i class="fab fa-github"></i>
              </a>
            </section>
            <!-- Section: Social media -->
          </ul>
        </div>
        <!--Grid column-->
      </div>
      <!--Grid row-->
    </section>
    <!-- Section: Links -->
  </div>
  <!-- Grid container -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <a class=" hizmetim-link" href="#">HİZMETİM </a>
    © 2022:
    Tüm Hakları Saklıdır
  </div>
</footer>
<!-- Footer -->
