<app-hesabim-navbar></app-hesabim-navbar>
  <div class="main-block">
    <div class="left-part">
      <i class="fas fa-envelope"></i>
      <i class="fas fa-at"></i>
      <i class="fas fa-mail-bulk"></i>
    </div>
    <form action="/">
      <h1>Hesap Bilgileri</h1>
      <div class="info">
        <input class="form-control" type="text" placeholder="{{name}}" >
        <input class="form-control" type="text" placeholder="{{surname}}">
        <input class="form-control" type="text" placeholder="{{telNo}}">
        <input class="form-control" type="text" placeholder="{{email}}">
        <input class="form-control" type="text" placeholder="{{sifre}}">
        <input class="form-control" type="text" placeholder="Adres">
      </div>
      <button type="submit" href="/">Değişiklikleri Kaydet</button>
    </form>
  </div>
<app-footer></app-footer>
