<div class=" navbar">
  <nav role="navigation" class="primary-navigation">
    <ul>
      <li><a href="#" style="font-size: 25px; color: #1CA03E">Hizmetim</a></li>
      <li><a class="menu" href="#">Hizmetler</a></li>
      <li><a class="menu" href="#">İletişim</a></li>
      <li>
        <i style="color: white" class="fa-regular fa-user"></i><a class="menu"> Hesabım &dtrif;</a>
        <ul class="dropdown">
          <li><i style="color: white" class="fa-solid fa-user"></i><a class="item" href="hesabim"> Profilim</a></li>
          <li><i style="color: white" class="fa-solid fa-cart-shopping"></i><a class="item" href="#"> Siparişlerim</a></li>
          <li><i style="color: white" class="fa-solid fa-tag"></i><a class="item" href="#"> İndirim Kuponlarım</a></li>
          <li><i style="color: white" class="fa-regular fa-circle-xmark"></i><a class="item" href="#"> Çıkış yap</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

